In [1]:
import pandas as pd

# Read csv file

In [3]:
data = pd.read_csv('/Users/zizhengdong/Documents/GitHub/homework-0-zizhengdong0412/datasets/housing_dataset.csv')

In [4]:
print(data.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0             NaN

# Accessing data

In [5]:
print(data['population'])

0         322.0
1        2401.0
2         496.0
3         558.0
4         565.0
          ...
20635     845.0
20636     356.0
20637    1007.0
20638     741.0
20639    1387.0
Name: population, Length: 20640, dtype: float64

In [5]:
print(data.population)
#print(data.population[0]) # index similarily as arrays

0         322.0
1        2401.0
2         496.0
3         558.0
4         565.0
          ...
20635     845.0
20636     356.0
20637    1007.0
20638     741.0
20639    1387.0
Name: population, Length: 20640, dtype: float64

In [6]:
#loc selects rows for elements 2 --> 5 
two_rows = data.loc[2:5]
print(two_rows)
print(two_rows['housing_median_age']) # index into data

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0
5    -122.25     37.85                52.0        919.0           213.0

   population  households  median_income  median_house_value ocean_proximity
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0             NaN
5         NaN       193.0         4.0368            269700.0        NEAR BAY
2    52.0
3    52.0
4    52.0
5    52.0
Name: housing_median_age, dtype: float64

In [7]:
#iloc selects rows and columns at specific integer positions.
two_rows = data.iloc[[0,1]]
print(two_rows)
print(two_rows['housing_median_age'])

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
0    41.0
1    21.0
Name: housing_median_age, dtype: float64

In [16]:
#iloc selects first three rows and first two columns at specific integer positions.
# data.iloc[start_row:end_row,start_col:end_col]
three_rows_two_cols = data.iloc[0:3,0:3]
print(three_rows_two_cols)

   longitude  latitude  housing_median_age
0    -122.23     37.88                41.0
1    -122.22     37.86                21.0
2    -122.24     37.85                52.0

# Check for NaN

In [9]:
print(data['housing_median_age'].isnull())

0        False
1        False
2        False
3        False
4        False
         ...
20635    False
20636    False
20637    False
20638    False
20639    False
Name: housing_median_age, Length: 20640, dtype: bool

In [10]:
print(data['housing_median_age'].isnull().sum())

12

In [11]:
data_na = data.dropna()
print(data_na['housing_median_age'].isnull().sum())

0

# Compute Correlation

In [12]:
corr = data.corr()
print(corr)
#print(corr['total_rooms']['total_bedrooms'])

                    longitude  latitude  housing_median_age  total_rooms  \
longitude            1.000000 -0.924599           -0.106605     0.044231
latitude            -0.924599  1.000000            0.009128    -0.035676
housing_median_age  -0.106605  0.009128            1.000000    -0.361014
total_rooms          0.044231 -0.035676           -0.361014     1.000000
total_bedrooms       0.069187 -0.066574           -0.320227     0.930408
population           0.099281 -0.108339           -0.295788     0.857058
households           0.054899 -0.070667           -0.302540     0.918476
median_income       -0.015451 -0.079031           -0.118324     0.197915
median_house_value  -0.046036 -0.143627            0.106464     0.134041

                    total_bedrooms  population  households  median_income  \
longitude                 0.069187    0.099281    0.054899      -0.015451
latitude                 -0.066574   -0.108339   -0.070667      -0.079031
housing_median_age       -0.320227   -0.295788   -0.302540      -0.118324
total_rooms               0.930408    0.857058    0.918476       0.197915
total_bedrooms            1.000000    0.877672    0.979717      -0.007374
population                0.877672    1.000000    0.907149       0.004640
households                0.979717    0.907149    1.000000       0.013007
median_income            -0.007374    0.004640    0.013007       1.000000
median_house_value        0.049949   -0.024871    0.065754       0.688046

                    median_house_value
longitude                    -0.046036
latitude                     -0.143627
housing_median_age            0.106464
total_rooms                   0.134041
total_bedrooms                0.049949
population                   -0.024871
households                    0.065754
median_income                 0.688046
median_house_value            1.000000

In [13]:
corr_population_median_income = data['population'].corr(data['median_income'])
print(corr_population_median_income)

0.0046398335427524084

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
        np.random.randn(1000, 2) / [50, 50] + [37.76, -122.4],
        columns=['lat', 'lon'])

In [4]:
df

           lat         lon
0    37.787741 -122.387097
1    37.785992 -122.413861
2    37.774911 -122.440038
3    37.784951 -122.431185
4    37.754279 -122.415186
..         ...         ...
995  37.775478 -122.411096
996  37.744209 -122.369467
997  37.766361 -122.365674
998  37.740567 -122.405341
999  37.757337 -122.398725

[1000 rows x 2 columns]

In [10]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NaN
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [13]:
df2 = pd.DataFrame(
        data['longitude'], data['latitude'],
        columns=['lat', 'lon'])

In [16]:
data['long'] = data['longitude']
data['lat'] = data['latitude']